<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Import-Libarires-and-Dataframe" data-toc-modified-id="Import-Libarires-and-Dataframe-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Import Libarires and Dataframe</a></span><ul class="toc-item"><li><span><a href="#Import-Dataframe" data-toc-modified-id="Import-Dataframe-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Import Dataframe</a></span></li></ul></li><li><span><a href="#Cleaning-dataframe-before-any-furture-action" data-toc-modified-id="Cleaning-dataframe-before-any-furture-action-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Cleaning dataframe before any furture action</a></span><ul class="toc-item"><li><span><a href="#Data-Wrangling-Procedures" data-toc-modified-id="Data-Wrangling-Procedures-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Data Wrangling Procedures</a></span><ul class="toc-item"><li><span><a href="#Drop-any-column-that-won't-be-use" data-toc-modified-id="Drop-any-column-that-won't-be-use-2.1.1"><span class="toc-item-num">2.1.1&nbsp;&nbsp;</span>Drop any column that won't be use</a></span></li></ul></li><li><span><a href="#Data-Consistency-Check" data-toc-modified-id="Data-Consistency-Check-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Data Consistency Check</a></span><ul class="toc-item"><li><span><a href="#Checking-mixed-type-columns" data-toc-modified-id="Checking-mixed-type-columns-2.2.1"><span class="toc-item-num">2.2.1&nbsp;&nbsp;</span>Checking mixed-type columns</a></span></li><li><span><a href="#Checking-nan-values" data-toc-modified-id="Checking-nan-values-2.2.2"><span class="toc-item-num">2.2.2&nbsp;&nbsp;</span>Checking nan values</a></span></li><li><span><a href="#Checking-duplicates" data-toc-modified-id="Checking-duplicates-2.2.3"><span class="toc-item-num">2.2.3&nbsp;&nbsp;</span>Checking duplicates</a></span></li></ul></li></ul></li><li><span><a href="#Export-dataframe-as-pickle-format" data-toc-modified-id="Export-dataframe-as-pickle-format-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Export dataframe as pickle format</a></span></li></ul></div>

## Import Libarires and Dataframe

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
# Create a path
path = r'C:\Users\SuperHome\Documents\5000 Movies Analysis\02 Data\Original Data'

### Import Dataframe

In [4]:
movie = pd.read_csv(os.path.join(path,'tmdb_5000_movies.csv'), index_col=False)

In [6]:
# Checking data shape and data types after importing
movie.shape

(4803, 21)

In [9]:
# Checking head
movie.head()

,budget,genres,homepage,id,original_language,original_title,overview,popularity,production_companies,production_countries,country,release_date,revenue,runtime,spoken_languages,language,status,tagline,title,vote_average,vote_count
0,237000000,Action,http://www.avatarmovie.com/,19995,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",US,2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",en,Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,Adventure,http://disney.go.com/disneypictures/pirates/,285,en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",US,2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",en,Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,Action,http://www.sonypictures.com/movies/spectre/,206647,en,Spectre,A cryptic message from Bond?€?s past sends him...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",GB,2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",fr,Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,Action,http://www.thedarkknightrises.com/,49026,en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",US,2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",en,Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,Action,http://movies.disney.com/john-carter,49529,en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",US,2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",en,Released,"Lost in our world, found in another.",John Carter,6.1,2124

## Cleaning dataframe before any furture action

### Data Wrangling Procedures

In [8]:
# Showing all columns without limitation
pd.set_option('display.max_columns', None)

#### Drop any column that won't be use

In [10]:
unwanted = ['homepage','original_language','original_title'
           ,'production_companies','production_countries','spoken_languages'
           ,'tagline']

In [11]:
movie_drop = movie.drop(unwanted, axis=1, inplace=True)

In [12]:
# Checking columns after dropping
movie.head()

,budget,genres,id,overview,popularity,country,release_date,revenue,runtime,language,status,title,vote_average,vote_count
0,237000000,Action,19995,"In the 22nd century, a paraplegic Marine is di...",150.437577,US,2009-12-10,2787965087,162.0,en,Released,Avatar,7.2,11800
1,300000000,Adventure,285,"Captain Barbossa, long believed to be dead, ha...",139.082615,US,2007-05-19,961000000,169.0,en,Released,Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,Action,206647,A cryptic message from Bond?€?s past sends him...,107.376788,GB,2015-10-26,880674609,148.0,fr,Released,Spectre,6.3,4466
3,250000000,Action,49026,Following the death of District Attorney Harve...,112.312950,US,2012-07-16,1084939099,165.0,en,Released,The Dark Knight Rises,7.6,9106
4,260000000,Action,49529,"John Carter is a war-weary, former military ca...",43.926995,US,2012-03-07,284139100,132.0,en,Released,John Carter,6.1,2124

In [15]:
movie.dtypes

budget            int64
genres           object
id                int64
overview         object
popularity      float64
country          object
release_date     object
revenue           int64
runtime         float64
language         object
status           object
title            object
vote_average    float64
vote_count        int64
dtype: object

### Data Consistency Check

#### Checking mixed-type columns

In [19]:
for col in movie.columns.tolist():
    weird = (movie[[col]].applymap(type) != movie[[col]].iloc[0].apply(type)).any(axis=1)
    if len(movie[weird]) > 0:
        print(col)

genres
overview
country
release_date
language

There must be some nan values in those columns

#### Checking nan values

In [24]:
movie.isnull().sum()

budget            0
genres           28
id                0
overview          3
popularity        0
country         181
release_date      1
revenue           0
runtime           2
language        132
status            0
title             0
vote_average      0
vote_count        0
dtype: int64

I decide do nothing for those nan values

#### Checking duplicates

In [22]:
movie[movie.duplicated(subset='id')]

Empty DataFrame
Columns: [budget, genres, id, overview, popularity, country, release_date, revenue, runtime, language, status, title, vote_average, vote_count]
Index: []

There is non duplcates found

## Export dataframe as pickle format

In [23]:
movie.to_pickle(os.path.join(path,'movie_clean.pkl'))